<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
<script type="text/javascript" src="https://ssl.p.jwpcdn.com/player/v/8.6.3/jwplayer.js"></script>
<script type="text/javascript">
    jwplayer.key = "cLGMn8T20tGvW+0eXPhq4NNmLB57TrscPjd1IyJF84o=";
</script>

<style>
  body {
      margin: 0px;
  }
</style>
<div id="apicodes-player"></div>


<script>
    var player = jwplayer("apicodes-player");
    player.setup({
        sources: [
          {
          "default": false,
          "file": "https://aaaaaaaaaaaaaaaaaaaaaaaaaaaa.inhadat.net/index.ahihi",
          "label": "0",
          "type": "hls"
            },
          ],
        aspectratio: "16:9",
        startparam: "start",
        primary: "html5",
        width: "100%",
        height:"100%",
        autostart: false,
        preload: "auto",
        image: "https://demo.apicodes.com/the-boss-baby-poster.jpg",
        captions: {
            color: "#f3f368",
            fontSize: 16,
            backgroundOpacity: 0,
            fontfamily: "Helvetica",
            edgeStyle: "raised"
        },
        tracks: [{
            file: "https://demo.apicodes.com/the.boss.baby.srt",
            label: "English",
            kind: "captions",
            "default": true
        }]
    });
    player.on("setupError", function () {
        swal("Server Error!", "Please contact us to fix it asap. Thank you!", "error")
    });
    player.on("error", function () {
        swal("Server Error!", "Please contact us to fix it asap. Thank you!", "error")
    });
</script>
